.Five{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f6f8fe;

    .container{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100px;

            h1{
                font-size: 30px;
                font-weight: 700;
                font-family: DM Sans;
                color: rgba(72, 75, 94, 1);
            }
        }

        .card-boxes{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: auto;

            .vip-card{
                width: 18%;
                height: 320px;
                margin-top: 20px;
                border-radius: 3px;
                cursor: pointer;
                background-color: white;

                .photo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 160px;
                }

                .title1{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 50px;

                    h1{
                        padding-left: 10px;
                        font-size: 18px;
                        font-weight: 500;
                        font-family: DM Sans;
                        line-height: 23.44px;
                        color: #656569;
                    }
                }

                .price{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 50px;

                    p{
                        padding-left: 10px;
                        font-family: DM Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        color: rgba(72, 75, 94, 1);

                        span{
                            color: rgba(151, 151, 152, 1);
                        }
                    }
                }

                .button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 60px;

                    button{
                        width: 200px;
                        height: 45px;
                        color: white;
                        border: none;
                        cursor: pointer;
                        background-color: #6A5BCD;
                        border-radius: 5px;
                        &:hover{
                          background-color: #6254bc;
                        }
                    }
                }
            }

            .elan-card{
                width: 18%;
                height: 320px;
                margin-top: 20px;
                border-radius: 3px;
                cursor: pointer;
                background-color: white;

                .photo{
                    position: relative;
                    width: 100%;
                    height: 160px;

                    img{
                        width: 100%;
                        height: 160px;
                    }

                    .fa-heart{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        font-size: 20px;
                        color: white;
                    }
                }

                .name{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 50px;

                    h1{
                        color: #656569;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 21px;
                        letter-spacing: 0.03em;
                        padding-left: 10px;
                    }
                }

                .about{
                    width: 100%;
                    height: 60px;

                    p{
                        padding-left: 10px;
                        padding-top: 10px;
                        color: rgba(151, 151, 152, 1);

                        .fa-solid{
                            color: rgba(208, 208, 210, 1);
                        }
                    }
                }

                .price{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    height: 50px;

                    p{
                        padding-right: 15px;
                        color:  rgba(72, 75, 94, 1);
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        font-family: DM Sans;
                    }
                }
            }
        }

        .load-more{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 150px;

            button{
                width: 385px;
                height: 66px;
                background: #E9E8EE;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                color: rgba(72, 75, 94, 1);
                font-family: DM Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                &:hover{
                    border: 1px solid rgba(106, 91, 205, 1);
                    color: rgba(106, 91, 205, 1);
                }
            }
        }
    }
}